<script src="https://cdn.jsdelivr.net/npm/chart.js@3"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@2/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<div>
    <canvas id="myChart"></canvas>
</div>
<script>
    fetch('https://progress.decomp.club/data/prime/GM8E01_00/dol/?mode=all')
        .then(v => v.json())
        .then(result => {
            const entries = result['prime']['GM8E01_00']['dol'];

            const data = {
                labels: entries.map(a => new Date(a.timestamp * 1000).toISOString()),
                datasets: [{
                    label: 'Code',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: entries.map(a => 100 * (a.measures['code'] / a.measures['code/total'])),
                }, {
                    label: 'Data',
                    backgroundColor: 'rgb(50, 168, 82)',
                    borderColor: 'rgb(50, 168, 82)',
                    data: entries.map(a => 100 * (a.measures['data'] / a.measures['data/total'])),
                }]
            };

            const config = {
                type: 'line',
                data: data,
                options: {
                    interaction: {
                        intersect: false,
                        mode: 'index',
                    },
                    plugins: {
                        title: {
                            text: 'Progress',
                            display: true
                        },
                        tooltip: {
                            callbacks: {
                                label: (ctx) => {
                                    return `${ctx.dataset.label}: ${ctx.parsed.y.toFixed(2)}%`;
                                },
                                footer: (items) => {
                                    let sum = items.reduce((sum, item) => sum + item.parsed.y, 0);
                                    return `Combined: ${(sum / items.length).toFixed(2)}%`;
                                },
                            }
                        },
                    },
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                tooltipFormat: 'MMMM dd, yyyy'
                            },
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            ticks: {
                                callback: function (value, index, ticks) {
                                    return value.toFixed(0) + '%';
                                },
                                stepSize: 1,
                            },
                            title: {
                                display: true,
                                text: 'Completion',
                            }
                        }
                    },
                },
            };

            new Chart(
                document.getElementById('myChart'),
                config,
            );
        })
        .catch(err => console.error('Failed to fetch progress data', err));
</script>
